#login-content {
    background-color: darkred;
}

.login{
    border-radius: 30px !important;
    padding-left: 10px !important;
    margin-bottom: 10px;
    // background-color: white;
    opacity: 0.8;
    font-size: 0.9em;
}